asgiref==3.4.1
beautifulsoup4==4.10.0
bootstrap4==0.1.0
certifi==2021.10.8
cloudinary==1.28.0
Django==3.2.9
django-bootstrap4==21.1
Pillow==8.4.0
python-decouple==3.5
pytz==2021.3
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
