
.home{
    background-image: url(../images/business-g237ea8317_1920.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;

}
.logo{
    padding: 5%;
}
.swap{
    padding: 5%;
    width: 1000px;

}
.whole{
    margin: auto;
   
}

.no-border {
    border: 0;
    box-shadow: none;
}
form{
    width: 1000px;
    margin: auto;
    border-radius: 20px;
}
p{
    font-weight: 900;
    font-size: 24px;
    width: 100%;
    
}
p:first-child {
    border-right: 1px solid black;
  }

span{
    color: red;
}
.form-control::-webkit-input-placeholder {
    color: black;
  }

ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: red;
}

.btn{
    width: 200px;
}
.business{
    margin-left: 2rem;
}

@media all  and (max-width: 1200px) {
    form{
        width: auto;
    }
}

@media all and (max-width: 1200px) {
    .swap{ 
        width: 450px;

    }

}
@media (max-width: 768px) {
    .btn{
      border-radius:3px;
      width: auto;
      height: auto;
      text-align: center;
      
    
    }
  }
  

  /* @media (min-width: 769px) and (max-width: 992px) {
    .btn {
      padding:4px 9px;
      font-size:90%;
      line-height: 1.2;
 
    }
  } */