{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-5"> The Drivers</h1>
        <div class="col-md-6">
            <a href="{%url 'create_driver'%}"  class="btn btn-outline-dark bg-dark text-white rounded-pill text-center">
             Register as a Driver
            </a>
        </div>
        <div class="row">
            {% for driver in drivers %}
            <div class="col-md-4">
                <img src="{{driver.photo.url}}"class="image">
                
                <h3 class="name">{{driver.name}}  </h3>
                
                <h4>{{ driver.location }}</h4>
                <p>{{ driver.details }}</p>
                <p>{{ driver.charge }}</p>
                <p>{{ driver.date }}</p>
            
            </div>
            
            {% endfor %}
        </div>
    </div>

    <style>
        .image{
            width: 50%;
            height: auto;
        }
    </style>
{% endblock %}