{% extends 'base.html'%}
{% load static %}
{% block content %}
    <div class="container">
        <h1 class="text-center mt-5"> The Drivers</h1>
        <div class="col-md-6">
            <a href="{%url 'create_driver'%}"  class="reg btn btn-outline-dark text-white rounded-pill text-center">
             Register as a Driver
            </a>
        </div>
        <div class="row">
            {% for driver in drivers %}
            <div class="col-md-4 driver">
                <a href="{% url 'single_driver' driver.name %}" class=""><img src="{{driver.photo.url}}" alt="" class="image"></a>
                <p><a href="{% url 'single_driver' driver.name %}">{{driver.name}}</a></p>
                <h4>{{ driver.location }}</h4>
                <p><a href="tel: {{ driver.phone_number }}" target="_blank">{{ driver.phone_number }}</a></p>
            
            </div>
            
            {% endfor %}
        </div>
    </div>

    <style>
        .image{
            width: 50%;
            height: auto;
            border-radius: 50%;
        }
        .driver a{
            text-decoration: none;
        }
        .reg{
        background-color: #FFCC03;
        outline: none;
        border: none;
    }
    </style>
{% endblock %}