{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<style>
    body{
    font-family: 'Lato', global_font_string;
    font-weight: 500;
    background-color: white;
    
    }
    .hood{
        margin-top: 5%;
    }
    
</style>


<div class="container hood">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8  poster">
            <h3 class="text-center tt ">Register as a Driver</h3>
            <form action="{%url 'create_driver'%}" method="post" enctype="multipart/form-data">
                {%csrf_token%}    
                {% bootstrap_form form%}
                <input type="submit" class="btn btn-dark " value="Register as a Driver">
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>
<style>
        
</style>
{% endblock %}