{% extends 'base.html'%} {% load static %}{% load bootstrap4 %} {% block content %}
<div class="container" style="margin-top: 70px;">

    <div class="row">

        <div class="col-md-4 driver" style="width: 10%;">
            <div class="row">
                <div class="col">
                    <img src="{{drivers.photo.url}}" class="image"
                        style="width: 300px; height: 300px; border-radius: 170px;">
                </div>
                <div class="col">
                    <h3 class="name" style="margin-top: 20px;color: rgb(0, 0, 0);">{{drivers.name}} </h3>
                    <br>
                    <h4 style="color: rgb(0, 0, 0);">{{ drivers.location }}</h4>
                </div>

                <p style="color: rgb(0, 0, 0);">{{ drivers.details }}</p>
                <p style="color: rgb(0, 0, 0);">{{ drivers.charge }}</p>
                <p><a style="color: rgb(0, 0, 0);" href="mailto: {{ drivers.email }}" target="_blank">{{ drivers.email}}</a></p>
                <p><a style="color: rgb(0, 0, 0);" href="tel: {{ drivers.phone_number }}" target="_blank">{{drivers.phone_number }}</a></p>
    
                <p style="color: rgb(15, 15, 15);">{{ drivers.date|date }}</p>
            </div>



         </div>
         <div class="col-md-8">
            <div class="row rating">
                <div class="col-md-6">
                    <form action="{% url 'rate' drivers.id %}" method="post">
                        {% csrf_token %}
                        <div class="mb-2">
                            <label for="Efficiency">Efficiency</label>
                            <input type="number" class="form-control" name="efficiency" value="0">
                        </div>
                        <div class="mb-1">
                            <label for="Service">Service</label>
                            <input type="number" class="form-control" name="service" value="0">
                        </div>

                        <button class="btn btn-outline-dark bg-dark text-white rounded-pill" type="submit">Rate</button>
                    </form>
                </div>
                
               
            </div>
        
        <div class="col-md-12">
            <h2 class="text-center">
                <b>Driver Ratings</b>
            </h2>

            
                {% for rate in ratings %}

            <div class="row ">
                <div class="col-md-4">
                    <p>Efficiency: {{rate.efficiency_rate}}</p>
                </div>
                <div class="col-md-4">
                    <p>Service: {{rate.service_rate}}</p>
                </div>

                <div class="col-md-4">
                    <p>Avarage:{{rate.avarage_rate}}</p>
                </div>
            </div>
            {% empty %}
            <p class="alert alert-danger" role="alert">No ratings yet!</p>
            {% endfor %}


        </div>

         </div>


            

    </div>
</div>


{% endblock %}