{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container-fluid" style="margin-top: 20px;">
    <div class="container">

    </div>
    <div class="row">
        <div class="col-lg-5" style="width: 3%;margin-top: 20px;">
            <div class="card" style="background-color: #FFCC03;">
                <div class="card-body">
                    <p style="color: white;">Supplier</p>
                    <p style="color: white;">Product name</p>
                    <p style="color: white;">Product location</p>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}